@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cart {
    @include container;

    padding-bottom: 100px;

    &__title {
        margin-top: 45px;

        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
        color: #111;
        text-transform: uppercase;

    }

    &__content {
        &__product {
            margin-top: 50px;
            padding-top: 50px;
            border-top: 1px dotted rgba($foo-second-color, 0.3);

            &:nth-last-child(1) {
                padding-bottom: 50px;
                border-bottom: 1px dotted rgba($foo-second-color, 0.3);
            }
        }
    }

    &__purchase {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        &__button {
            @include button;
            width: 192px;
            height: 59px;
            font-size: 14px;
            font-weight: 700;

        }

        &__total {
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.finishWindow {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: rgba(#000, 0.5);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-sizing: border-box;
        width: 735px;
        height: 424px;
        padding: 30px;

        background-color: #fff;
        border-radius: 8px;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &__img {
        @include button;
        width: 59px;
        height: 59px;
        margin-top: 61px;

        &:hover {
            cursor: auto
        }
    }

    &__title {
        margin-top: 24px;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;

    }

    &__text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
        color: $foo-second-color;
    }
}

@media(max-width: 1399px) {
    .cart {
        padding: 0 20px 50px;
    }

    .finishWindow {
        &__content {
            text-align: center;

            height: 400px;
        }
    }
}

@media(max-width: 424px) {
    .cart {
        &__purchase {
            margin-top: 25px;
            flex-direction: column-reverse;

            &__button {
                margin-top: 25px;
                width: 290px;
                height: 80px;
            }
        }
    }

}