@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

@keyframes appearanceWindow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes appearanceWindowContent {
    0% {
        transform: translateX(-320px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1.0;
    }
}

.header {
    min-height: 170px;
    padding-top: 14px;

    &__info {
        display: flex;
        padding-bottom: 13px;
        border-bottom: 1px solid rgba($foo-second-color, 0.2);
    }

    &__container {
        @include container;

        display: flex;
        justify-content: space-between;
    }

    &__connection {
        border-bottom: 1px solid rgba($foo-second-color, 0.2);

        &__container {
            @include container;

            display: flex;
            align-items: center;
            min-height: 108px;
        }
    }

    &__contact {
        display: flex;
    }

    &__element {
        display: flex;
        align-items: center;

        &__img {
            margin-right: 15px;
        }

        &__content {
            font-size: 12px;
            font-weight: 300;

            span {
                display: block;
                font-size: 14px;
                font-weight: 600;
            }
        }

        &:first-child {
            margin-right: 40px;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        font-weight: 400;

        &__content {
            display: flex;
            list-style-type: none;
        }

        &__element {
            padding: 0 30px;
            border-right: 1px dashed rgba($foo-second-color, 0.1);

            &:last-child {
                padding-right: 0;
                border-right: none;
            }
        }

        &__link {
            color: $foo-second-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__logo {
        margin-right: 38px;
    }

    &__catalog {
        margin-right: 15px;
    }

    &__button {
        @include button;

        width: 192px;
        height: 59px;
        font-size: 14px;
        font-weight: 700;

        svg {
            margin-left: 12px;
        }
    }

    &__search {
        position: relative;
        margin-right: 35px;

        &__input {
            @include searchInput;
            width: 263px;
            height: 59px;
        }

        &__button {
            @include searchButton;
        }
    }

    &__call {
        display: flex;
        align-items: center;

        &__text {
            font-size: 12px;
            font-weight: 300;
            line-height: 150%;
            color: $foo-second-color;
            text-align: right;

            span {
                display: block;

                margin-bottom: 5px;

                font-size: 14px;
                font-weight: 600;
                color: #111;
            }

            a {
                display: block;
                font-size: 10px;
                font-weight: 400;
            }
        }

        &__img {
            position: relative;
            margin-left: 14px;

        }

        &__circle {
            position: absolute;
            top: 6px;
            right: 6px;

            width: 8px;
            height: 8px;

            background: #1FD85D;
            border-radius: 10px;
        }
    }

    &__price {
        margin-left: 25px;
        padding: 0 25px;
        border-right: 1px dashed rgba($foo-second-color, 0.1);
        border-left: 1px dashed rgba($foo-second-color, 0.1);
    }

    &__cart {
        display: flex;
        margin-left: 25px;
        text-decoration: none;

        &:hover {
            cursor: pointer;

            .header__cart__link {
                text-decoration: underline;
            }
        }

        &__img {
            position: relative;
            margin-right: 28px;
        }

        &__circle {
            position: absolute;
            z-index: 1;
            top: -6px;
            right: -11px;

            padding: 0 0 2px 2px;

            background-color: #fff;

            span {
                display: block;

                width: 22px;
                height: 22px;

                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                color: #fff;
                text-align: center;

                background-color: $foo-main-color;
                border-radius: 10px;
            }
        }

        &__text {
            font-size: 12px;
            font-weight: 300;
            line-height: 150%;
            color: $foo-second-color;

            span {
                display: block;
                font-size: 14px;
                font-weight: 600;
                color: #111;
            }
        }
    }
}

@media(max-width: 1399px) {
    .header {
        &__connection {
            padding-left: 5px;

            &__container {
                justify-content: space-around;
            }
        }

        &__navigation {
            &__element {
                padding: 0 10px;
                border: none;
            }
        }

        &__cart {
            &__text {
                display: none;
            }
        }

        &__search {
            &__input {
                width: 200px;
            }
        }

        &__call {
            &__img {
                display: none;
            }
        }

        &__price {
            padding: 0;
            border: none;
        }

        &__button {
            width: 180px;
        }
    }
}

@media(max-width: 1023px) {
    .header {
        position: fixed;
        z-index: 5;
        top: 0;

        width: 100%;
        padding-top: 10px;

        background-color: #fff;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 15px 10px;

            border-bottom: solid 1px rgba($foo-second-color, 0.1);
        }

        &__burger {
            @include button;
            width: 56px;
            height: 56px;
            font-size: 40px;
            transition: transform 0.25s;

            svg {
                width: 20px;
                height: 20px;
            }

            &_active {
                transform: rotate(45deg);

                span {
                    transform: translateY(-3.5px);
                }
            }
        }

        &__logo {
            margin: 0;
        }

        &__catalog {
            display: flex;
            justify-content: space-between;
            margin: 0;
        }

        &__cart {
            margin: 0;

            &__img {
                margin: 0;
            }

            &__text {
                display: none;
            }
        }

        &__call {
            margin: 0;

            &__text {
                margin: 0;
            }
        }

        &__bottom {
            padding: 15px 10px;
            border-bottom: solid 1px rgba($foo-second-color, 0.1);
        }

        &__search {
            margin: 0;

            &__input {
                width: 260px;
            }
        }


    }

    .module {
        position: fixed;
        z-index: 2;

        overflow-y: auto;

        width: 100vw;
        height: 100vh;

        background: rgba(#000, 0.5);

        animation: appearanceWindow 0.5s;

        &__content {
            box-sizing: border-box;
            width: 100%;
            min-height: 500px;
            padding: 20px 13px;

            background-color: #fff;

            animation: appearanceWindowContent 1s;
        }

        &__element {
            display: flex;
            align-items: center;
            margin-top: 15px;


            &:first-child {
                margin-top: 0;
            }

            &__img {
                display: flex;
                align-items: center;
            }

            &__content {
                margin-left: 15px;
                font-size: 16px;
                font-weight: 300;

                span {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        &__call {
            display: flex;
            align-items: center;
            margin-top: 13px;

            &__button {
                @include button;
                width: 30px;
                height: 30px;

            }

            a {
                margin-left: 7px;
                font-size: 14px;
                font-weight: 400;
                color: $foo-second-color;
            }
        }

        &__divider {
            width: 290px;
            margin-top: 25px;
            border-bottom: 1px dotted rgba($foo-second-color, 0.2);
        }

        &__title {
            margin-top: 25px;
            color: $foo-second-color;
        }

        &__navigation {
            &__content {
                list-style-type: none;
            }

            &__element {
                margin-top: 20px;

            }

            &__link {
                font-size: 16px;
                font-weight: 400;
                color: $foo-second-color;
                text-decoration: none;

                &:active {
                    text-decoration: underline;
                }
            }
        }

        &__price {
            @include button;
            width: 290px;
            height: 70px;
            margin-top: 22px;

            font-size: 14px;
            font-weight: 700;

            svg {
                margin-left: 12px;
            }
        }

    }

}

@media(max-width: 767px) {
    .header {
        &__burger {
            width: 32px;
            height: 32px;
            font-size: 26px;

            span {
                transform: translateY(-2px);
            }

            svg {
                width: 13px;
                height: 13px;
            }
        }

        &__call {
            display: none;
        }

        &__search {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;

            &__input {
                width: 100%;
                max-width: 500px;
            }
        }

        &__button {
            display: block;

            width: 50%;

            color: $foo-second-color;

            background: none;
            border-radius: 0;

            svg {
                display: none;
            }

            &_search {
                border-left: 1px dotted rgba($foo-second-color, 0.1);
            }

            &_hidden {
                display: none;
            }
        }
    }

    .module {
        &__element {
            &__content {
                font-size: 12px;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}