@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product {
    height: 191px;

    &__content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__img {
        width: 281px;
        height: 100%;

        img {
            display: block;
            margin: 0 auto;
            object-fit: cover;
            height: 100%;
        }
    }

    &__description {
        margin-left: 20px;
        width: 480px;

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__weight {
        display: flex;
        align-items: center;

        font-size: 12px;
        font-weight: 400;
        color: $foo-second-color;

        svg {
            margin-right: 8px;
            opacity: 0.23;
        }
    }

    &__title {
        margin-top: 9px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    &__text {
        margin-top: 10px;

        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: $foo-second-color;
    }

    &__purchase {
        margin-left: 85px;
        display: flex;
        align-items: center;

        &__remove {
            display: flex;
            align-items: center;
            margin-left: 42px;

            button {
                @include button;
                width: 59px;
                height: 59px;
            }
        }

        &__quantity {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 113px;
            height: 49px;
            padding: 0 44px;

            border-right: 1px dotted rgba($foo-second-color, 0.2);
            border-left: 1px dotted rgba($foo-second-color, 0.2);

            button {
                width: 34px;
                height: 23px;

                font-size: 12px;
                font-weight: 300;
                line-height: 1.2;

                background-color: $foo-light-color;
                border: none;
                border-radius: 100px;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: rgba($foo-light-color, 0.45);
                }
            }
        }

        &__price {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 160px;

            margin-left: 44px;
            padding-right: 44px;

            font-size: 30px;
            font-weight: 700;

            border-right: 1px dotted rgba($foo-second-color, 0.2);
        }
    }
}

@media(max-width: 1399px) {
    .product {
        &__purchase {
            margin-left: 26px;

            &__quantity {
                padding: 0 26px;
            }

            &__price {
                margin-left: 20px;
                padding-right: 20px;

            }

            &__remove {
                margin-left: 26px;
            }
        }
    }
}

@media(max-width: 1023px) {
    .product {
        height: auto;

        &__content {
            flex-direction: column;
        }

        &__img {
            width: auto;
            height: 400px;
            object-fit: cover;

            img {
                width: 100%;
            }
        }

        &__description {
            margin-left: 0;
            width: auto;
        }

        &__purchase {
            justify-content: center;
            width: 100%;
            margin-top: 10px;
            margin-left: 0;

            &__quantity {
                border-left: none;
                padding-left: 0;
            }

            &__price {}

            &__remove {}
        }
    }
}

@media(max-width: 767px) {
    .product {
        &__img {
            height: 290px;
        }
    }
}

@media(max-width: 424px) {
    .product {
        &__title {
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
        }


        &__purchase {

            &__quantity {
                padding-right: 15px;
            }

            &__price {
                width: 100px;
                font-size: 20px;
                margin-left: 15px;
                line-height: 200%;
                padding-right: 15px;
            }
        }
    }
}