@import './styles/mixins.scss';
@import './styles/variables.scss';

.app {
    min-height: 100vh;

    @media (max-width: 1023px) {

        padding-top: 191px;
    }

    main {
        min-height: 27vh;
    }

}

.errorPage {
    text-align: center;
}